{% import 'attach_image.html' as attachImage %}
{% import 'login.html' as login %}
{% import 'post.html' as post %}
{% import 'register.html' as register %}
{% import 'log.html' as log %}
{% import 'post_catalog.html' as catalog %}

<!---- The homepage -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Class Forum Tool">
        <title>UNC Charlotte Inquires App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <a class="logo" href="{{ url_for('index') }}">UNCC Inquires</a>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('new_post') }}">New Post</a></li>
                </ul>
            </nav>
        </header>
        <h1> Welcome to UNC Charlotte Inquires App! </h1>
        <h2> All Notes </h2>
        <div class="columnContainer">
            <div class="posts">
                {{ catalog.catalogComponent(posts) }}
            </div>
            <div class="details">
                
            </div>
        </div>
    </body>
</html>
