{% import 'attach_image.html' as attachImage %}
{% import 'post.html' as post %}
{% import 'log.html' as log %}
{% import 'post_catalog.html' as catalog %}

<!---- The homepage -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Class Forum Tool">
        <title>UNC Charlotte Asks</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
    <body>
        <header>
            <a class="logo" href="{{ url_for('index') }}">UNCC Asks</a>
            <nav>
                <ul class="nav-links">
                    {% if user %}
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Log in</a></li>
                    <li><a href="{{ url_for('register') }}">Sign up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <h1> Welcome to UNCC Asks! </h1>
        
        <div class="formwrapper">
            <h2 class="title">Login</h2>
            <form method="POST" action="/login">
                <div class="form-field">{{ form.email.label }} {{ form.email }}
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.password.label }} {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </body>
</html>
