<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Temporary name of product -->
        <meta name="description" content="UNC Charlotte Inquires App"> <!-- Gets the name of the app-->
        <title >
            UNC Charlotte Inquires App - View Note
        </title>
        <!-- specific styles - use main.css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

</html>
