<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Temporary name of product -->
        <meta name="description" content="UNC Charlotte Inquires App"> <!-- Gets the name of the app-->
        <title >
            UNC Charlotte Inquires App - View Note
        </title>
        <!-- specific styles - use main.css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head> <!-- Top of page -->

    <!-- include categories like title, date, and preview -->
    <body>
    <!-- navigation buttons -->
        <header>
            <a class="logo" href="{{ url_for('index') }}">UNCC Inquires</a>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('new_post') }}">New Post</a></li>
                </ul>
            </nav>
        </header>
    <!-- post welcome message and include note details -->
    <h1> Welcome to UNC Charlotte Inquires App! </h1> <!-- TODO: Add username to welcome once sign in is implemented -->
    <h2> Note Details </h2>

    <!-- create a table with all these features -->
    <table>
        <tr>
            <th> Title</th>
            <th> Text </th>
            <th> Date </th>
        </tr>
        <!-- specify fields to place inside-->
        <tr>
            <td> {{ note.title }} </td>
            <td> {{ note.text }} </td>
            <td> {{ note.date}} </td>
        </tr>
    </table>
    {% if note.imageid != -1 %}
        <img src="{{ "./static/images/" + note.imageid|string + "." + note.imagetype }}" alt="{{ note.imagename }}">
    {% else %}
        <p></p>
    {% endif %}
    </body>

</html>
