{% macro postComponent() -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Class Forum Tool">
        <title>UNC Charlotte Asks</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <a class="logo" href="{{ url_for('index') }}">UNCC Asks</a>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('new_post') }}">New Post</a></li>
                    {% if user %}
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Log in</a></li>
                    <li><a href="{{ url_for('register') }}">Sign up</a></li>
                    {% endif %}
                </ul>
            </nav> <!-- end of navigation -->
            <!-- add temporary search bar to assist with filtering -->
            <form id="form" role="search">
                <input type="search" id="query" name="q" placeholder="Search...">
                <button type="submit"> Search</button>

            </form>
        </header>

        <form action="newpost" enctype=multipart/form-data method="POST">
            <p><label>Title</label></p>
            <p><input name="title" type="text" value="Add title."/></p>
            <p><label>Text</label></p>
            <p>
                <textarea name="text"  rows="6" cols="0" >Add the content for the post here ...</textarea>
            </p>
            <p><label>Upload Image</label></p>
            <p>
                <input type=file name=file>
            </p>
            <input type="submit" value="Create Post"/>
        </form>
{%- endmacro %}

{{ postComponent() }}

